extends ../template/layout
block content

  //Id del juego oculto
  input(type="hidden",id="idJuego",value=idJuego)
  
  div(class=["container-fluid"])        
    div(class="jumbotron")      
      h1(class="text-center") PIN PARA PARTICIPANTES 
        strong(class="text-warning")=idJuego
      div(class='row')        

        div(class="col-md-6 col-sm-6 col-xs-12")
          button(class=["btn","btn-raised","btn-success"], id="btn-empezar") Iniciar Juego        
            i(class="material-icons") play_circle_outline
          
        div(class="col-md-6 col-sm-6 col-xs-12")
          //button(class=["btn","btn-raised","btn-info","pull-right"],data-toggle="modal", data-target="#ResultModal") Ver Resultados        
            i(class="material-icons") pie_chart        
          a(class=["btn","btn-raised","btn-info","pull-right"], href="/resultados") Ver Resultados        
            i(class="material-icons") pie_chart        

      div(class="row")
        div(class="col-md-12")
          h2(class="text-center") Participantes en Línea  
            strong(class="text-center text-danger" id="countUsers")           
        
        div(class="col-md-6 col-md-offset-3")
          ul(id="usuarios")            
              
  //if(sinDatos == undefined)
    div(class=["container-fluid"])
      div(class="jumbotron")
        div(class='row')
          div(class="col-md-6 col-sm-6 col-xs-12")
            button(class=["btn","btn-raised","btn-success"], id="btn-empezar") Iniciar Juego        
              i(class="material-icons") play_circle_outline
          
          div(class="col-md-6 col-sm-6 col-xs-12")
            button(class=["btn","btn-raised","btn-info","pull-right"]) Ver Resultados        
              i(class="material-icons") pie_chart

        div(class="row")
          div(class="col-md-12")
            h2(class="text-center") Participantes en Línea  
              strong(class="text-center text-danger" id="countUsers")           

          div(class="col-md-6 col-md-offset-3")
            ul(id="usuarios")
              
          //div(class="col-md-12")
            h3(class="text-center") 
              strong=  data[0].CantidadParticipantes
            
          //div(class="col-md-6 col-md-offset-3")
            table(class="table")
              thead
                tr
                  th(class="text-center active") CARNE
                  th(class="text-center active") NOMBRE

            
              tbody
                each datos in data
                  tr
                    td(class="text-center")= datos.carne
                    td(class="text-center")= datos.nombre
                
      
  
  //else
    div(class=["container-fluid"])
      div(class="jumbotron")
        button(class=["btn","btn-raised","btn-default"]) Iniciar Juegojjj

        div(class="row")
          div(class="col-md-12")
            h2(class="text-center") Participantes en Línea  
              strong(class="text-center text-danger" id="countUsers")           

          div(class="col-md-2")
            ul(id="usuarios",class="list-group")              
            
          //div(class="col-md-6 col-md-offset-3")
            table(class="table")
              thead
                tr
                  th(class="text-center active") CARNE
                  th(class="text-center active") NOMBRE                 
              tbody(id="participantesTbody")
                tr(id="participantes")


  //h1(class='text-center') Chat Jugadores y Administrador
    div(class='jumbotron')        
      div(class="row")
        div(class='col-md-6')
          div(class="form-group")
            label(for="message") Mensaje
            textarea(name="message", cols="10", rows="5", id="message", class="form-control")
                
            button(type="button", id="send-message", class="btn btn-warning btn-raised") Enviar Mensaje

        div(class="col-md-6")          
          h3 Mensajes
          ul(id="messages")

  div(class="modal fade",id="ResultModal")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h1(class="modal-title text-center") Resultado
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          
        div(class="modal-body")                              
          include ../graficasResultados/resultados
        
        div(class="modal-footer")          
          button(type="button" class="btn btn-info" data-dismiss="modal") Cerrar

  script(src="/socket.io/socket.io.js")
  //Script de sockets
  script.
    var socket = io();
    // Socket real recibir el array de usuarios conectados
    socket.on('listaUsuarios',function(usuariosConectados){
      var html = '';
        for(var i=0; i<usuariosConectados.length; i++){
          html += `<li class="list-group-item"><i class="material-icons">face</i> ${usuariosConectados[i]}</li>`;
          console.log(usuariosConectados);
        }
      $('#usuarios').html(html);
    });

    //Socket evento de contador de conexiones
    socket.on('conectados',function(contadorConexiones){
      $("#countUsers").html(contadorConexiones);
    });

    $("#btn-empezar").click(function(){      
      var empezar = 1;
      socket.emit('empezar juego',empezar);
      //$("#btn-empezar").attr("disabled", true);
      IniciarJuego($("#idJuego").val());
    });

    //Evento ajax para actualizar a iniciado el juego en la tabla juegos
    function IniciarJuego(idJuego)
    {      
      $.ajax
      (
          {
              url : "/iniciarJuego/"+idJuego,
              type : "GET"
          }
      ).done(function(resp){          
          console.log(resp[0][0].juegoIniciado);

      });
    }
       
    //Recibir el mensaje del servidor
    /*socket.on('new jugador',function(jugador,carne,conexiones){
      var liUsuario = $('<li>').append("<strong>Nombre: </strong>"+jugador+"  --  <strong>Carne: </strong>"+carne);
      
      //console.log(conexiones);
      $('#usuarios').append(liUsuario);
      
      // Contando los usuarios conectados      
      $("#countUsers").html(conexiones);
    
      //append al tr de tbody para poner el listado de participantes
      /*if(conexiones > 1){
        var trtdParticipantes = $("<tr id='trParticipantes'><td class='text-center'>").append(jugador);
        $("participantesTbody").append(trtdParticipantes);

        var trtdCarne = $("<td class='text-center'>").append(carne);
        $("#trParticipantes").append(trtdCarne);  
      }
      else{
        var tdParticipantes = $("<td class='text-center'>").append(jugador);
        $("#participantes").append(tdParticipantes);

        var tdCarne = $("<td class='text-center'>").append(carne);
        $("#participantes").append(tdCarne);  
      } //
    });

    socket.on('desconectado',function(conexiones){      
      console.log(conexiones);
      $("#countUsers").html(conexiones);
      $("#messages").children.remove();
    });

    $("#send-message").click(function(){
      socket.emit('new message',localStorage.getItem("admin"),$("#message").val());          
      //alert("Click");
      $("#message").val("");
    });

    //Recibir el mensaje procesado del server y pintarlo en todos los clientes
    socket.on('new message',function(nameJugador,message){
      console.log(message);
      var liMessages = $('<li>').append("<strong>"+nameJugador+": </strong> "+message);
      $("#messages").append(liMessages);
    });

    */     